    <header class="header target" id="slideheader">
        <img class="slide active" src="/images/WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="Project 1">
        <img class="slide" src="/images/WhatsApp Image 2025-03-15 at 11.35.40.jpeg" alt="Project 2">
        <img class="slide" src="/images/qgkdp_WhatsApp Image 2025-03-15 at 11.35.40.jpeg" alt="Project 3">
        <img class="slide" src="/images/khbeq_WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="Project 4">
        <img class="slide" src="/images/pzses_WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="Project 5">
        <img class="slide" src="/images/yvfcd_WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="Project 6">
        <h1>Sword</h1>
        <h3 style="color: firebrick;">Architecture</h3>
    </header>
