{{>head}}
{{>topbar}}

    <header class="header target">
        <img class="slide active" src="/images/qgkdp_WhatsApp Image 2025-03-15 at 11.35.40.jpeg" alt="Project 1">
        <h1>LOREM</h1>
        <h3 style="color: firebrick;">LOREM</h3>
    </header>

    <div class="about">
        <div class="wrapper target">
            <div class="text">
                <h1>Lorem</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsam iusto molestias debitis! Adipisci quisquam id error voluptates quidem. Vel repellat ut mollitia officiis? Tenetur consectetur accusantium repellendus animi aliquam?</p>
            </div>
            <div class="photo">
                <img src="/images/WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="">  
            </div>
        </div>

        <div class="wrapper target">
            <div class="text">
                <h1>Lorem</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsam iusto molestias debitis! Adipisci quisquam id error voluptates quidem. Vel repellat ut mollitia officiis? Tenetur consectetur accusantium repellendus animi aliquam?</p>
            </div>
            <div class="photo">
                <img src="/images/WhatsApp Image 2025-03-15 at 11.35.40.jpeg" alt="">  
            </div>
        </div>

        <div class="wrapper target">
            <div class="text">
                <h1>Lorem</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsam iusto molestias debitis! Adipisci quisquam id error voluptates quidem. Vel repellat ut mollitia officiis? Tenetur consectetur accusantium repellendus animi aliquam?</p>
            </div>
            <div class="photo">
                <img src="/images/yvfcd_WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="">  
            </div>
        </div>
    </div>
    
{{>foot}}