
{{>header}}

    <div class="home">
        <div class="wrapper">
            <div class="posts">
                <div class="post target">
                    <h1>Title</h1>
                    <img src="/images/yvfcd_WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, tempore! Eum voluptatibus enim, quam omnis sequi perferendis repellat, deserunt culpa dicta nulla qui. Expedita, cupiditate. Hic, eius! Nulla, quam perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ab quas provident totam dolorum saepe, temporibus cupiditate quam praesentium pariatur maiores explicabo sequi ratione, laudantium dolor officia fuga. Error, iure?</p>
                    <div class="authorAndDate">
                        <span>Mehmet Ali Kılıç</span>
                        <span>04.01.2025</span>
                    </div>
                </div>

                <div class="post target">
                    <h1>Title</h1>
                    <img src="/images/WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, tempore! Eum voluptatibus enim, quam omnis sequi perferendis repellat, deserunt culpa dicta nulla qui. Expedita, cupiditate. Hic, eius! Nulla, quam perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ab quas provident totam dolorum saepe, temporibus cupiditate quam praesentium pariatur maiores explicabo sequi ratione, laudantium dolor officia fuga. Error, iure?</p>
                    <div class="authorAndDate">
                        <span>Mehmet Ali Kılıç</span>
                        <span>04.01.2025</span>
                    </div>
                </div>

                <div class="post target">
                    <h1>Title</h1>
                    <img src="/images/WhatsApp Image 2025-03-15 at 11.35.40.jpeg" alt="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, tempore! Eum voluptatibus enim, quam omnis sequi perferendis repellat, deserunt culpa dicta nulla qui. Expedita, cupiditate. Hic, eius! Nulla, quam perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ab quas provident totam dolorum saepe, temporibus cupiditate quam praesentium pariatur maiores explicabo sequi ratione, laudantium dolor officia fuga. Error, iure?</p>
                    <div class="authorAndDate">
                        <span>Mehmet Ali Kılıç</span>
                        <span>04.01.2025</span>
                    </div>
                </div>

                <div class="post target">
                    <h1>Title</h1>
                    <img src="/images/pzses_WhatsApp Image 2025-03-15 at 11.35.41.jpeg" alt="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, tempore! Eum voluptatibus enim, quam omnis sequi perferendis repellat, deserunt culpa dicta nulla qui. Expedita, cupiditate. Hic, eius! Nulla, quam perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ab quas provident totam dolorum saepe, temporibus cupiditate quam praesentium pariatur maiores explicabo sequi ratione, laudantium dolor officia fuga. Error, iure?</p>
                    <div class="authorAndDate">
                        <span>Mehmet Ali Kılıç</span>
                        <span>04.01.2025</span>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <div class="area target">
                    <h3>Who I Am</h3>
                    <img src="/images/profil.png" alt="user profile">
                    <div class="categories">
                        <span>#art</span>
                        <span>#design</span>
                        <span>#paint</span>
                        <span>#cultre</span>
                    </div>    
                </div>

                <div class="area target">
                    <h3>Your Space</h3>
                    <a href="/admin/add">Add Project</a>
                    <a href="">Your Performance</a>
                    <a href="">Number Of Wiews</a>    
                </div>
            </div>
        </div>
    </div>
    <script src="/js/slideshow.js"></script>
    

