{{>head}}
{{>topbar}}

    <div class="login target">
        <img src="/images/loginPage.jpg" alt="background">
        <form>  

            <div class="formGroup">
                <input type="text" required>
                <span>Username *</span>
            </div>

            <div class="formGroup">
                <input type="password" required>
                <span>Password *</span>
            </div>

            <div class="btnGroup">
                <a href="./login">Did you forget password?</a>
                <button>Login</button>
            </div>
        </form>
    </div>

{{>foot}}