
    <div class="login target">
        <img src="/images/loginPage.jpg" alt="background">
        <form id="register">  

            <div class="formGroup">
                <input name="username" type="text" required>
                <span>Username *</span>
            </div>

            <div class="formGroup">
                <input name="password" type="password" required>
                <span>Password *</span>
            </div>

            <div class="btnGroup">
                <a href="./login">Did you forget password?</a>
                <button type="submit">Register</button>
            </div>
        </form>

        <div class="message">
            <p id="registerMessage"></p>
        </div>
    </div>

    <script>

        const register = document.getElementById('register')
        const registerMessage = document.getElementById('registerMessage')
        const clearMessageForRegister = ()=>{
            setTimeout(()=>{
                registerMessage.innerHTML = ''
            }, 1000 * 8)
        }

        register.addEventListener('submit', (e)=>{
            e.preventDefault()
            
            const formData = new FormData(e.target)
            
                fetch('/register',{
                    method: 'post',
                    body: formData                    
                }).then(response=>response.json()).then(res=>{
                    if(res.case){
                        registerMessage.style.color = 'green';
                        registerMessage.innerHTML = res.message
                        setTimeout(()=>{
                            window.location.href = '/'
                        }, 1000 * 3)
                    }
                    else{
                        registerMessage.style.color = 'red';
                        registerMessage.innerHTML = res.message
                        clearMessageForRegister()
                    }
                })
        })
    </script>
