<div class="single">
    <div class="wrapper">
        <div class="singleHeader">
            <h2>
                Title
            </h2>
            <div class="buttons">
                <button>
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button>
                    <i class="fa-regular fa-trash-can"></i>
                </button>
            </div>
        </div> 

        <img src="/images/qgkdp_WhatsApp Image 2025-03-15 at 11.35.40.jpeg" alt="">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quisquam fuga sapiente nobis quae autem quas possimus! Tempore consectetur, aperiam id tenetur architecto libero. Enim beatae nam quas quos incidunt!</p>
        
        <div class="singleFooter">
            <span>Writer name</span>
            <span>15.07.2025</span>
        </div>
    </div>
</div>